@charset "UTF-8";
html {
    font-size: 100%;
    background-color: black;
    color: white;
    overflow-y: scroll;
}
header {
}
.main-header {
    text-decoration: None;
    color: rgb(173, 255, 47);
    display: block;
    display: flex;
    justify-content: space-between;
}
.main-header a {
    text-decoration: None;
    color: rgba(173, 255, 47, .7);
    font-size: 1.375rem;
    margin-top: 34px;
}
.main-header a:hover {
    color: rgb(255, 0, 0);
}
body{
    line-height: 1.7;
    color: rgba(173, 255, 47, .7);
}
.main-nav {
    display: flex;
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li {
    margin-left: 40px;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}
footer {
    text-align: center;
    padding: 30px 0;
    margin: 20vh;
}
footer p {
    color: rgb(173, 255, 47);
    font-size: 0.9rem;
}
.main-name {
    text-align: center;
    margin-top: 30px;
}
.icons ul {
    display: flex;
    justify-content: center;
    list-style: none;

}
.icons img {
    width: 30px;
    height: 30px;
    margin: 50px 20px 20px 20px;
}

p.usui {
    color: rgba(192, 192, 192, .7);
    text-align: center;
}

.wrapper2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

.abouts{
    list-style: none;
}
.abouts h3{
    text-align: center;
    border-bottom: 2px solid rgba(32, 16, 12, .125);
    margin: 30px auto 30px auto;
    color: greenyellow;
}
.abouts p {
    color: greenyellow;
}
